button {
    font-family: $font-primary;
    font-weight: 700;
    letter-spacing: -0.36px;
    font-size: $body-text-size;
    line-height: 24px;
    border: none;
    @include large-desktops {
      font-size: $h6;
      line-height: 26px;
    }
  }