// Colors
$color-primary: #ffdda9;
$color-light: #e7e5ea;
$color-dark: #391484;
$color-muted: #594d6d;
$black: #000;
$white: #fff;
$color-other-primary: #ff6d43;
$color-other-secondary: #6ac75a;
$color-other-tertiary: #f9c45c;
$color-other-forth: #465dff;

// Fonts
$font-primary: "DM Sans", sans-serif;

// Typography
$h1: 72px;
$h1-md: 64px;
$h2: 48px;
$h2-md: 36px;
$h3: 30px;
$h3-md: 24px;
$h4: 22px;
$h5: 18px;
$h6: 16px;
$body-text-size: 14px;

// Screen Width
$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1366px;
$screen-xxxl: 1600px;
