<!-- footer 3 -->
<section class="footer_section-f3">
    <div class="footer_section-head">
        <div class="footer_section-head_logo-f3"></div>
        <div class="footer_section-head_title-f3">
            <ul class="list">
                <ul class="items">Products
                    <li class="sub-items">
                        <a href="">UI Kits</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Wireframe Kits</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Icon Sets</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Themes & Templates</a>
                    </li>
                </ul>
                <ul class="items">Company
                    <li class="sub-items">
                        <a href="">Support</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Open a Shop</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Licensing & Terms</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Technology</a>
                    </li>
                </ul>
                <ul class="items">About
                    <li class="sub-items">
                        <a href="">Our Mission</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Our Story</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Our Culture</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Team</a>
                    </li>
                </ul>
                <ul class="items">Support
                    <li class="sub-items">
                        <a href="">Getting started</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Help center</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Suggest a feature</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Report a bug</a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="footer_section-separator-f3"></div>
    <div class="footer_section-bottom-f3">
        <div class="social_icon-f3">
            <div class="twitter">
                <img src="image/svg/navigations/Twitter.svg" alt="twitter">
            </div>
            <div class="facebook">
                <img src="image/svg/navigations/Facebook.svg" alt="facebook">
            </div>
            <div class="instagram">
                <img src="image/svg/navigations/Instagram.svg" alt="Insta">
            </div>
        </div>
        <div class="copyright_text-f3">
            © 2020 CaDesign. All rights reserved.
        </div>
    </div>
</section>