<!-- footer 2 -->
<section class="footer_section-f2">
    <div class="social_icon-f2">
        <div class="twitter">
            <img src="image/svg/footers/linkedin.svg" alt="linkedin">
        </div>
        <div class="twitter">
            <img src="image/svg/navigations/twitter.svg" alt="twitter">
        </div>
        <div class="facebook">
            <img src="image/svg/navigations/facebook.svg" alt="facebook">
        </div>
        <div class="instagram">
            <img src="image/svg/footers/dribbble.svg" alt="dribb">
        </div>
    </div>
    <div class="footer_section-head_title">
        <ul class="list">
            <li class="item">
                <a href="">Privacy Policy</a>
            </li>
            <li class="item">
                <a href="">Terms & Conditions</a>
            </li>
        </ul>
    </div>
    <div class="copyright_text-f2">
        2020 All right reserved.
    </div>
</section>