<!-- footer 7 -->
<section class="footer_section-f7">
  <div class="footer_head-left">
      <ul class="list-f7">
          <li class="item"><a href="">Home</a></li>
          <li class="item"><a href="">Products</a></li>
          <li class="item"><a href="">Services</a></li>
      </ul>
  </div>
  <div class="footer-logo"></div>
  <div class="footer_head-right">
      <ul class="list-f7">
          <li class="item"><a href="">Privacy Policy</a></li>
          <li class="item"><a href="">Terms & Conditions</a></li>
      </ul>
  </div>
</section>