<!-- footer 6-->
<section class="footer_section-f3 footer-6">
    <div class="footer_section-head-f6">
        <div class="footer_section-head_logo-f3"></div>
        <div class="footer_section-head_title-f3">
            <ul class="list list_f5">
                <ul class="items item-f5">
                    <div class="subscribe_section">
                        <div class="email_input">
                            <div class="email-icon"></div>
                            <p>Your email</p>
                        </div>
                        <div class="subscribe_btn">
                            <button class="btn-sub">Subscribe</button>
                        </div>
                    </div>
                </ul>
            </ul>
        </div>
    </div>
    <div class="footer_section-separator-f6"></div>
    <div class="footer_section-bottom-f6">
        <div class="menu">
            <ul class="list">
                <li class="item">
                    <a href="">Home</a>
                </li>
                <li class="item">
                    <a href="">Products</a>
                </li>
                <li class="item">
                    <a href="">Pricing</a>
                </li>
                <li class="item">
                    <a href="">Services</a>
                </li>
                <li class="item">
                    <a href="">Project</a>
                </li>
                <li class="item">
                    <a href="">Contacts</a>
                </li>
            </ul>
        </div>
        <div class="terms_condition">
            <div class="social_icons">
                <div class="twitter">
                    <img src="image/svg/navigations/twitter.svg" alt="twitter">
                </div>
                <div class="facebook">
                    <img src="image/svg/navigations/facebook.svg" alt="facebook">
                </div>
                <div class="instagram">
                    <img src="image/svg/footers/dribbble.svg" alt="dribb">
                </div>
            </div>
        </div>
    </div>
</section>