<!-- footer 8 -->
<section class="footer_section-f8">
    <div class="footer_logo-f8"></div>
    <div class="menu_list">
        <ul class="list">
            <li class="item"><a href="">Home</a></li>
            <li class="item"><a href="">Products</a></li>
            <li class="item"><a href="">Services</a></li>
            <li class="item"><a href="">Project</a></li>
        </ul>
    </div>
    <div class="contact_list">
        <div class="list">
            <li class="item"><a href="">Contacts</a></li>
            <li class="logo"><img src="/image/svg/Footers/Dribbble-dark.svg" alt=""></li>
            <li class="logo"><img src="/image/svg/Footers/Behance.svg" alt=""></li>
        </div>
    </div>
</section>