<!-- footer 9 -->
<section class="footer_section-f9">
    <div class="footer-body">
        <div class="subscribe-section title-f9">Subscribe our Newsletter
            <div class="input_text">
                <div class="input_logo"></div>
                <p>Inputs Text</p>
            </div>
            <div class="subscribe_btn">
                <button class="btn btn-subscribe">Subscribe</button>
            </div>
        </div>
        <ul class="list-f9 products">
            <li class="title-f9">Products</li>
            <li class="item"><a href="">UI Kits</a></li>
            <li class="item"><a href=""></a>Wireframe Kits</li>
            <li class="item"><a href=""></a>Icon Sets</li>
            <li class="item"><a href=""></a>Themes & Templates</li>
        </ul>
        <ul class="list-f9 company">
            <li class="title-f9">Company</li>
            <li class="item"><a href="">Support</a></li>
            <li class="item"><a href=""></a>Open a Shop</li>
            <li class="item"><a href=""></a>Licensing & Terms</li>
            <li class="item"><a href=""></a>Technology</li>
        </ul>
        <ul class="list-f9 support">
            <li class="title-f9">Support</li>
            <li class="item"><a href=""></a>Getting started</li>
            <li class="item"><a href=""></a>Help center</li>
            <li class="item"><a href=""></a>Suggest a feature</li>
            <li class="item"><a href=""></a>Report a bug</li>
        </ul>
    </div>
    <div class="footer_seprator"></div>
    <div class="footer_bottom">
        <div class="copyright_section">
            © 2020 CaDesign.All rights reserved.
        </div>
        <ul class="policy-section">
            <li class="item"><a href="">Privacy Policy</a></li>
            <li class="item"><a href="">Terms & Condition</a></li>
        </ul>
    </div>
</section>