<section class="footer_section">
    <div class="footer_head">
        <div class="footer_head-title">
            <ul class="list">
                <li class="item"><a href="">About</a></li>
                <li class="item"><a href="">Privacy Policy</a></li>
                <li class="item"><a href="">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="footer_head-logo">
            <img src="image/svg/navigations/Logo.svg" alt="">
        </div>
        <div class="footer_head-contact">
            <div class="conatct-title">
                <a href="">Contact Us</a>
            </div>
            <div class="social_icon">
                <div class="twitter"></div>
                <div class="facebook"></div>
                <div class="instagram"></div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="footer_bottom">
        <div class="copyright_text">
            © 2020 CaDesign. All rights reserved.
        </div>
    </div>
</section>