<!-- footer 4 -->
<section class="footer_section-f4">
    <div class="footer__logo"></div>
    <div class="footer_section-head_title">
        <ul class="list">
            <li class="item">
                <a href="">Home</a>
            </li>
            <li class="item">
                <a href="">Products</a>
            </li>
            <li class="item">
                <a href="">Pricing</a>
            </li>
            <li class="item">
                <a href="">Services</a>
            </li>
            <li class="item">
                <a href="">Project</a>
            </li>
            <li class="item">
                <a href="">Contacts</a>
            </li>
        </ul>
    </div>
    <div class="social_icon-f4">
        <div class="twitter">
            <img src="image/svg/navigations/twitter.svg" alt="twitter">
        </div>
        <div class="facebook">
            <img src="image/svg/navigations/facebook.svg" alt="facebook">
        </div>
        <div class="instagram">
            <img src="image/svg/footers/dribbble.svg" alt="dribb">
        </div>
    </div>
</section>