<section class="footer_section">
    <div class="footer_section-head">
        <div class="footer_section-head_title">
            <ul class="list">
                <li class="item"><a href="">About</a></li>
                <li class="item"><a href="">Privacy Policy</a></li>
                <li class="item"><a href="">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="footer_section-head_logo"></div>
        <div class="footer_section-head_contact">
            <div class="conatct-title">
                <a href="">Contact Us</a>
            </div>
            <div class="social_icon">
                <div class="twitter">
                    <img src="image/svg/navigations/Twitter.svg" alt="twitter">
                </div>
                <div class="facebook">
                    <img src="image/svg/navigations/Facebook.svg" alt="facebook">
                </div>
                <div class="instagram">
                    <img src="image/svg/navigations/Instagram.svg" alt="Insta">
                </div>
            </div>
        </div>
    </div>
    <div class="footer_section-separator"></div>
    <div class="footer_section-bottom">
        <div class="copyright_text">
            © 2020 CaDesign. All rights reserved.
        </div>
    </div>
</section>