<!-- footer 5-->
<section class="footer_section-f3 footer-5">
    <div class="footer_section-head head_f5">
        <div class="footer_section-head_logo-f3"></div>
        <div class="footer_section-head_title-f3">
            <ul class="list list_f5">
                <ul class="items">Products
                    <li class="sub-items">
                        <a href="">UI Kits</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Wireframe Kits</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Icon Sets</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Themes & Templates</a>
                    </li>
                </ul>
                <ul class="items">Company
                    <li class="sub-items">
                        <a href="">Support</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Open a Shop</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Licensing & Terms</a>
                    </li>
                    <li class="sub-items">
                        <a href="">Technology</a>
                    </li>
                </ul>
                <ul class="items item-f5">Subscribe our Newsletter
                    <div class="subscribe_section">
                        <div class="email_input">
                            <div class="email-icon"></div>
                            <p>Your email</p>
                        </div>
                        <div class="subscribe_btn">
                            <button class="btn-sub">Subscribe</button>
                        </div>
                    </div>
                    <div class="follow_section">
                        <div class="social_icon-f5">
                            <div class="twitter">
                                <img src="image/svg/footers/linkedin.svg" alt="linkedin">
                            </div>
                            <div class="twitter">
                                <img src="image/svg/navigations/twitter.svg" alt="twitter">
                            </div>
                            <div class="facebook">
                                <img src="image/svg/navigations/facebook.svg" alt="facebook">
                            </div>
                            <div class="instagram">
                                <img src="image/svg/footers/dribbble.svg" alt="dribb">
                            </div>
                        </div>
                        <div class="follow">
                            <p>-follow us</p>
                        </div>
                    </div>
                </ul>
            </ul>
        </div>
    </div>
    <div class="footer_section-separator-f5"></div>
    <div class="footer_section-bottom-f5">
        <div class="copyright_text-f5">
            © 2020 CaDesign. All rights reserved.
        </div>
        <div class="terms_condition">
           <p>Privacy Policy</p>
           <p>Terms & Conditions</p>
        </div>
    </div>
</section>