<!-- footer 10 -->
<section class="footer_section-f10">
    <div class="footer_body">
        <div class="footer_logo-f10"></div>
        <div class="footer_menu-f10">
            <div class="products">
                <p>Products</p>
                <ul class="list">
                    <li class="item">UI Kits</li>
                    <li class="item">Wireframe Kits</li>
                    <li class="item">Icon Sets</li>
                    <li class="item">Themes & Templates</li>
                </ul>
            </div>
            <div class="company">
                <p>Company</p>
                <ul class="list">
                    <li class="item">Support</li>
                    <li class="item">Open a Shop</li>
                    <li class="item">Licensing & Terms</li>
                    <li class="item">Technology</li>
                </ul>
            </div>
            <div class="Support">
                <p>Support</p>
                <ul class="list">
                    <li class="item">Getting started</li>
                    <li class="item">Help center</li>
                    <li class="item">Suggest a feature</li>
                    <li class="item">Report a bug</li>
                </ul>
            </div>
            <div class="Follow Us">
                <p>Follow Us</p>
                <ul class="list social_icons">
                    <li class="Linkedin">
                        <img src="/image/svg/Footers/Linkedin.svg" alt="Linkedin">
                    </li>
                    <li class="twitter">
                        <img src="/image/svg/navigations/Twitter.svg" alt="Twitter">
                    </li>
                    <li class="facebook">
                        <img src="/image/svg/navigations/facebook.svg" alt="facebook">
                    </li>
                    <li class="dribbble">
                        <img src="/image/svg/Footers/Dribbble.svg" alt="Dribbble">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer_seprator-f10"></div>
    <div class="footer_copyright-f10">
        © 2020 CaDesign. All rights reserved.
    </div>
</section>