<!-- navigation -1 -->
<div class="header__container">
    <div class="header__logo">
        <img src="image/svg/navigations/Logo.svg" alt="logo">
    </div>
    <div class="header__list">
        <ul class="list__item">
            <li><a href="">Home</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Shop</a></li>
            <li><a href=""><img src="image/svg/navigations/Search.svg" alt="search"></a></li>
        </ul>
    </div>
    <div class="header__buttons">
        <button class="light-button">Sign In</button>
        <button class="light-button">Sign Up</button>
    </div>
</div>

<!-- navigation 16 -->
<div class="header__container dark-theme">
    <div class="header__logo">
        <img src="image/svg/navigations/light-logo.svg" alt="logo">
    </div>
    <div class="header__list">
        <ul class="list__item light-text">
            <li><a href="">Home</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contacts</a></li>
            <li><a href=""><img src="image/svg/navigations/Shape.svg" alt="shape"></a></li>
            <li><a href=""><img src="image/svg/navigations/Combined-Shape.svg" alt="Be"></a></li>
        </ul>
    </div>
    <div class="header__buttons">
        <button class="try-button">Try it Now</button>
    </div>
</div>

<!-- navigation-20 -->
<div class="header__container dark-theme">
    <div class="header__logo">
        <img src="image/svg/navigations/light-logo.svg" alt="logo">
    </div>
    <div class="header__list">
        <ul class="list__item light-text">
            <li><a href="">Get the App</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">About</a></li>
            <li><a href="">F.A.Q</a></li>
        </ul>
    </div>
    <div class="header__buttons">
        <button class="light-border-button">Sign In</button>
        <button class="light-border-button">Sign Up</button>
    </div>
</div>

<!-- navigation 21 -->
<div class="header__container dark-theme">
    <div class="header__logo">
        <img src="image/svg/navigations/light-logo.svg" alt="logo">
    </div>
    <div class="header__list">
        <ul class="list__item light-text">
            <li><a href="">Get the App</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">About</a></li>
            <li><a href="">F.A.Q</a></li>
        </ul>
    </div>
    <div class="header__buttons">
        <button class="dark-button">Sign In</button>
        <button class="dark-button">Sign Up</button>
    </div>
</div>