<!-- navigation-13 -->
<div class="header__container nav-12 dark-theme">
     <div class="circle-hamburger">
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
    </div>
    <div class="header__logo-nav-dark navImg-13"></div>
    <div class="header__list light-text">
        <ul class="list__item ">
            <li><a href="" class="hover-effect">Home</a></li>
            <li><a href="" class="hover-effect">Features</a></li>
            <li><a href="" class="hover-effect">Pricing</a></li>
            <li><a href="" class="hover-effect">Blog</a></li>
            <li><a href="" class="hover-effect">Contacts</a></li>
            <li><a href="" class="hover-effect"><img src="image/svg/navigations/Shape.svg" alt="shape"></a></li>
            <li><a href="" class="hover-effect"><img src="image/svg/navigations/Combined-Shape.svg" alt="Be"></a></li>
        </ul>
    </div>
    <div class="header__buttons_mobile-view">
        <button class="dark-search__btn">
            <img src="image/svg/navigations/icons/Search.svg" alt="search">
            Search
        </button>
    </div>
</div>
