<!-- navigation -7 -->
<div class="header__container">
    <div class="header__visit-tour">
        <button class="visit-tour-btn">Visit Tour</button>
    </div>
    <div class="header__logo-nav-7"></div>
    <div class="header__buttons">
        <button class="light-button">Sign In</button>
        <button class="light-button">Sign Up</button>
    </div>
</div>