<!-- navigation -6 -->
<div class="header__container">
    <div class="circle-hamburger nav-hamburger-5">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="header__logo nav-5_logo">
        <img src="image/svg/navigations/logo.svg" alt="logo">
    </div>
    <div class="header__list">
        <ul class="list__item">
            <li>
                <a href="">Features</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Contacts</a>
            </li>
        </ul>
         <div class="button-list">
            <button class="light-clr-btn">Try it Now</button>
        </div>
    </div>
</div>