<!-- navigation -4 -->
<div class="header__container">
    <div class="circle-hamburger nav-hamburger-4">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="header__logo nav-4_logo">
        <img src="image/svg/navigations/logo.svg" alt="logo">
    </div>
    <div class="header__list">
        <ul class="list__item">
            <li>
                <a href="">Portfolio</a>
            </li>
            <li>
                <a href="">How it Works</a>
            </li>
            <li>
                <a href="">Pricing</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
        </ul>
    </div>
    <div class="header__buttons">
        <button class="border-button nav-4">Login</button>
        <button class="border-button nav-4">Sign Up</button>
    </div>
</div>