<!-- navigation -1 -->
<div class="header__container">
    <div class="header__logo">
        <img src="image/svg/navigations/Logo.svg" alt="logo">
    </div>
    <div class="header__list">
        <ul class="list__item">
            <li><a href="">Home</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Shop</a></li>
            <li><a href=""><img src="image/svg/navigations/Search.svg" alt="search"></a></li>
        </ul>
    </div>
    <div class="header__buttons">
        <button class="light-button">Sign In</button>
        <button class="light-button">Sign Up</button>
    </div>
</div>







