<!-- navigation 21 -->
<div class="header__container dark-theme">
    <div class="circle-hamburger nav-hamburger-4">
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
    </div>
    <div class="header__logo21">
        <img src="image/svg/navigations/light-logo.svg" alt="logo">
    </div>
    <div class="header__list">
        <ul class="list__item light-text">
            <li>
                <a href="">Get the App</a>
            </li>
            <li>
                <a href="">Features</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">F.A.Q</a>
            </li>
        </ul>
    </div>
    <div class="header__buttons nav-21">
        <button class="dark-button">Sign In</button>
        <button class="dark-button">Sign Up</button>
    </div>
</div>