<!-- navigation-15 -->
<div class="header__container dark-theme">
    <div class="circle-hamburger desktop-view">
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
    </div>
    <div class="header__logo-nav-dark15"></div>
    <div class="header__buttons">
        <button class="search-button__dark">
            <img src="image/svg/navigations/icons/search.svg" alt="path"> Search
        </button>
        <button class="light-border-button15">Login</button>
        <button class="light-border-button15">Contacts</button>
    </div>
</div>