<!-- navigation 16 -->
<div class="header__container dark-theme">
    <div class="circle-hamburger">
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
    </div>
    <div class="header__logo-nav-dark16"></div>
    <div class="header__list header_list16">
        <ul class="list__item light-text">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Features</a>
            </li>
            <li>
                <a href="">Pricing</a>
            </li>
            <li>
                <a href="">Blog</a>
            </li>
            <li>
                <a href="">Contacts</a>
            </li>
            <li>
                <a href=""><img src="image/svg/navigations/Shape.svg" alt="shape"></a>
            </li>
            <li>
                <a href=""><img src="image/svg/navigations/Combined-Shape.svg" alt="Be"></a>
            </li>
        </ul>
    </div>
    <div class="header__buttons">
        <button class="try-button__nav-16">Try it Now</button>
        <button class="light-border-button15">Login</button>
         <button class="dark-search__btn16">
            <img src="image/svg/navigations/icons/Search.svg" alt="search">
            Search
        </button>
    </div>
</div>