<!-- navigation 18 -->
<div class="header__container dark-theme">
    <div class="circle-hamburger">
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
    </div>
    <div class="header__logo-nav-dark15"></div>
    <div class="header__list">
        <ul class="list__item light-text">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Features</a>
            </li>
            <li>
                <a href="">Pricing</a>
            </li>
            <li>
                <a href="">Blog</a>
            </li>
        </ul>
        <div class="button-list">
            <button class="light-search-button18">
                <img src="image/svg/navigations/Icons/Search.svg" alt="path">
                Search</button>
            <button class="light-border-button18">Sign In</button>
            <button class="light-border-button18">Sign Up</button>
        </div>
    </div>
</div>