<!-- navigation-8 -->
<div class="header__container">
     <div class="circle-hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="header__logo-nav-8"></div>
    <div class="header__list">
        <ul class="list__item">
            <li><a href="">About</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Contacts</a></li>
        </ul>
    </div>
    <div class="header__buttons">
        <button class="border-button nav_btn-8">Sign In</button>
        <button class="border-button nav_btn-8">Sign Up</button>
        <div class="search-icon">
            <img src="image/svg/header/Navigations/Search.svg" alt="Search">
        </div>
    </div>
</div>
