<!-- navigation 17 -->
<div class="header__container dark-theme">
    <div class="circle-hamburger17">
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
    </div>
    <div class="header__logo17">
        <img src="image/svg/navigations/light-logo.svg" alt="logo">
    </div>
    <div class="header__list">
        <ul class="list__item light-text">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Features</a>
            </li>
            <li>
                <a href="">Pricing</a>
            </li>
            <li>
                <a href="">Blog</a>
            </li>
        </ul>
        <div class="button-list">
            <button class="light-border-button17">Contacts</button>
        </div>
    </div>
</div>