<!-- navigation-9 -->
<div class="header__container nav-9 dark-theme">
     <div class="circle-hamburger">
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
    </div>
    <div class="header__logo">
        <img src="image/svg/navigations/light-logo.svg" alt="logo">
    </div>
    <div class="header__list light-text">
        <ul class="list__item ">
            <li><a href="" class="hover-effect">Home</a></li>
            <li><a href="" class="hover-effect">Features</a></li>
            <li><a href="" class="hover-effect">Pricing</a></li>
            <li><a href="" class="hover-effect">Blog</a></li>
            <li><a href="" class="hover-effect">Contacts</a></li>
            <li><a href="" class="hover-effect"><img src="image/svg/navigations/Shape.svg" alt="shape"></a></li>
            <li><a href="" class="hover-effect"><img src="image/svg/navigations/Combined-Shape.svg" alt="Be"></a></li>
        </ul>
    </div>
</div>
