<!-- navigation-20 -->
<div class="header__container dark-theme">
   <div class="circle-hamburger">
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
    </div>
    <div class="header__logo-nav-dark16"></div>
    <div class="header__list">
        <ul class="list__item light-text">
            <li><a href="">Get the App</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">About</a></li>
            <li><a href="">F.A.Q</a></li>
        </ul>
    </div>
    <div class="header__buttons">
        <button class="light-border-button">Sign In</button>
        <button class="light-border-button">Sign Up</button>
    </div>
</div>
