<!-- navigation-20 -->
<div class="header__container dark-theme">
    <div class="header__logo">
        <img src="image/svg/navigations/light-logo.svg" alt="logo">
    </div>
    <div class="header__list">
        <ul class="list__item light-text">
            <li><a href="">Get the App</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">About</a></li>
            <li><a href="">F.A.Q</a></li>
        </ul>
    </div>
    <div class="header__buttons">
        <button class="light-border-button">Sign In</button>
        <button class="light-border-button">Sign Up</button>
    </div>
</div>
