<!-- navigation 11 -->
<div class="header__container dark-theme">
     <div class="circle-hamburger tablet-view">
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
        <span class="bar bar-light"></span>
    </div>
    <div class="header__logo center-logo">
        <img src="image/svg/navigations/light-logo.svg" alt="logo">
    </div>
    <div class="header__list">
        <ul class="list__item light-text">
            <li><a href="">Subscribe</a></li>
            <li><a href="">Sign In</a></li>
            <li><a href="">Sign In</a></li>
            <li><a href=""><img src="image/svg/navigations/icons/Search.svg" alt="search"></a></li>
        </ul>
    </div>
    <div class="header__buttons_mobile-view">
        <button class="mobile__search-btn">
            <img src="image/svg/navigations/icons/Search.svg" alt="search">
        </button>
    </div>
</div>
