<!-- navigation-10 -->
<div class="header__container">
    <div class="circle-hamburger desktop-view">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="header__logo">
        <img src="image/svg/navigations/logo.svg" alt="logo">
    </div>
    <div class="header__buttons">
        <button class="search-button">
            <img src="image/svg/header/Navigations/search.svg" alt="path"> Search
        </button>
    </div>
</div>