<!-- navigation-9 -->
<div class="header__container nav-9">
     <div class="circle-hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="header__logo">
        <img src="image/svg/navigations/logo.svg" alt="logo">
    </div>
    <div class="header__list">
        <ul class="list__item">
            <li><a href="">About</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Contacts</a></li>
            <li><img src="image/svg/navigations/product-hunt.svg" alt="product-hunt"></li>
            <li><img src="image/svg/navigations/Apple.svg" alt="apple"></li>
            <li><img src="image/svg/navigations/Google-Play.svg" alt="googlePlay"></li>
        </ul>
    </div>
</div>
