{% set page_class = index %}
{% extends "template.njk" %}
{% block main %}

  <!-- scroll-progress & goto-top -->
  {% include "_scrollProgress.njk"%}
  <!-- start of navigation -->
  {% include "_header1.njk"%}
  {% include "_header2.njk"%}
  {% include "_header3.njk"%}
  {% include "_header4.njk"%}
  {% include "_header5.njk"%}
  {% include "_header6.njk"%}
  {% include "_header7.njk"%}
  {% include "_header8.njk"%}
  {% include "_header9.njk"%}
  {% include "_header10.njk"%}
  {% include "_header11.njk"%}
  {% include "_header12.njk"%}
  {% include "_header13.njk"%}
  {% include "_header14.njk"%}
  {% include "_header15.njk"%}
  {% include "_header16.njk"%}
  {% include "_header17.njk"%}
  {% include "_header18.njk"%}
  {% include "_header19.njk"%}
  {% include "_header20.njk"%}
  {% include "_header21.njk"%}
  {% include "_header22.njk"%}
  {% include "_header23.njk"%}
  {% include "_header24.njk"%}
  {% include "_header25.njk"%}
  {% include "_header26.njk"%}
  <!-- end of navigation -->

  <div class="box1"></div>

  <!-- start of footer -->

  {% include "_footer.njk" %}
  
  <!-- end of footer -->
  {% endblock %}