ul {
  list-style: none;
  a {
    color: $black;
  }
}
.footer_section {
  margin: auto;
  width: 375px;
  height: 321px;
  display: flex;
  flex-direction: column;
  padding-top: 51px;
  margin-bottom: 100px;
  padding-left: 15px;
  background-color: $white;
  @include mobile-lg {
    text-align: center;
    width: 100%;
    height: 241px;
    height: 16.875em;
    padding-left: 3.75em;
  }

  @include large-desktops {
    width: 90em;
    height: 291px;
  }
  &-head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include mobile-lg {
      flex-direction: row;
      gap: 50px;
    }
    &_title {
      order: 2;
      @include mobile-lg {
        order: 1;
      }
      .list {
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-inline-start: 0px;
        .item {
          a {
            //styleName: Headline/05;
            font-family: $font-primary;
            font-size: $h6;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: -0.35555556416511536px;
            text-align: left;
            color: $black;
            @include mobile-lg {
              font-size: $body-text-size;
              line-height: 24px;
            }
          }
        }
      }
    }
    &_logo {
      order: 1;
      background-image: url("/image/svg/navigations/Logo.svg");
      width: 110px;
      height: 25px;
      background-repeat: no-repeat;
      margin-bottom: 51px;
      @include mobile-lg {
        position: relative;
        left: -30px;
        top: -3px;
        order: 2;
        background-image: url("/image/svg/navigations/Logo-mobile.svg");
        width: 35px;
        height: 35px;
      }
      &-f3 {
        @extend .footer_section-head_logo;
        order: 1;
        background-image: url("/image/svg/navigations/Logo.svg");
        width: 108px;
        height: 25px;
      }
    }
    &_contact {
      order: 3;
      display: flex;
      flex-direction: row;
      gap: 19px;
      a {
        //styleName: Headline/06;
        font-family: $font-primary;
        font-size: $body-text-size;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.30000001192092896px;
        text-align: left;
        color: $black;
      }
      .social_icon {
        display: flex;
        flex-direction: row;
        gap: 20px;
        img {
          width: 24px;
          height: 20px;
        }
      }
    }
  }
  &-separator {
    margin: auto;
    margin-bottom: 32px;
    margin-top: 48px;
    width: 345px;
    height: 1px;
    background-color: $color-light;
    @include mobile-lg {
      width: 45.135em;
      margin-top: 0px;
      margin-bottom: 32px;
    }
  }
  &-bottom {
    .copyright_text {
      position: relative;
      margin: auto;
      font-family: $font-primary;
      font-size: $body-text-size;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.30000001192092896px;
      color: $color-muted;
      @include mobile-lg {
        left: 0;
        width: 21.875em;
        height: 1.5em;
      }
      @include large-desktops {
        left: 0;
      }
    }
  }
}

// footer 2
.footer_section-f2 {
  @extend .footer_section;
  height: 224px;
  flex-direction: column;
  @include mobile-lg {
    justify-content: center;
    gap: 58px;
    padding-top: 80px;
    flex-direction: row;
    height: 186px;
  }
  @include large-desktops {
    justify-content: center;
    gap: 195px;
  }
  .social_icon-f2 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 40px;
    @include large-desktops {
      gap: 40px;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
  .item {
    a {
      @include large-desktops {
        font-size: $h6 !important;
      }
    }
  }
  .copyright_text-f2 {
    order: 3;
    font-family: $font-primary;
    font-size: $body-text-size;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.35555556416511536px;
    text-align: left;
    color: $black;
    @include large-desktops {
      font-size: $h6;
    }
  }
}

// footer 3
.footer_section-f3 {
  @extend .footer_section;
  padding-left: 20px;
  width: 375px;
  height: 661px;
  @include large-desktops {
    width: 90em;
    height: 427px;
  }
  .footer_section-head {
    display: flex;
    flex-direction: column;
    gap: 0px;
    @include large-desktops {
      flex-direction: row;
      margin: 0 auto;
      width: 1110px;
      gap: 278px;
    }
    &_title-f3 {
      order: 2;
      .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-inline-start: 0px;
        gap: 32px;
        @include large-desktops {
          flex-wrap: nowrap;
        }
        .items {
          width: 158px;
          font-family: $font-primary;
          font-size: $h6;
          font-style: normal;
          font-weight: 700;
          line-height: 26px;
          letter-spacing: -0.35555556416511536px;
          text-align: left;
          color: $black;
          padding-inline-start: 0px;
          .sub-items {
            a {
              width: 158px !important;
              font-family: $font-primary;
              font-size: $body-text-size;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: -0.30000001192092896px;
              color: #594d6d;
            }
          }
        }
      }
    }
  }
  .footer_section-separator-f3 {
    @extend .footer_section-separator;
    width: 345px;
    @include large-desktops {
      margin-top: 80px;
      width: 1110px;
    }
  }
  .footer_section-bottom-f3 {
    @extend .footer_section-bottom;
    display: flex;
    flex-direction: column;
    gap: 26px;
    @include large-desktops {
      margin: 0 auto;
      flex-direction: row;
      width: 1110px;
      gap: 624px;
    }
    .social_icon-f3 {
      order: 2;
      display: flex;
      flex-direction: row;
      width: 24px;
      height: 20px;
      gap: 32px;
      @include large-desktops {
      }
    }
    .copyright_text-f3 {
      @extend .copyright_text;
      margin: 0;
    }
  }
}
