ul {
  list-style: none;
  a {
    color: $black;
  }
}
.footer_section {
  margin: auto;
  width: 375px;
  height: 321px;
  display: flex;
  flex-direction: column;
  padding-top: 51px;
  margin-bottom: 100px;
  padding-left: 15px;
  background-color: $white;
  @include mobile-lg {
    text-align: center;
    width: 100%;
    height: 241px;
    height: 16.875em;
    padding-left: 3.75em;
  }

  @include large-desktops {
    width: 90em;
    height: 291px;
  }
  &-head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include mobile-lg {
      flex-direction: row;
      gap: 50px;
    }
    &_title {
      order: 2;
      @include mobile-lg {
        order: 1;
      }
      .list {
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-inline-start: 0px;
        .item {
          a {
            //styleName: Headline/05;
            font-family: $font-primary;
            font-size: $h6;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: -0.35555556416511536px;
            text-align: left;
            color: $black;
            @include mobile-lg {
              font-size: $body-text-size;
              line-height: 24px;
            }
          }
        }
      }
    }
    &_logo {
      order: 1;
      background-image: url("/image/svg/navigations/Logo.svg");
      width: 110px;
      height: 25px;
      background-repeat: no-repeat;
      margin-bottom: 51px;
      @include mobile-lg {
        position: relative;
        left: -30px;
        top: -3px;
        order: 2;
        background-image: url("/image/svg/navigations/Logo-mobile.svg");
        width: 35px;
        height: 35px;
      }
      &-f3 {
        @extend .footer_section-head_logo;
        order: 1;
        background-image: url("/image/svg/navigations/Logo.svg");
        width: 108px;
        height: 25px;
        @include mobile-lg {
          width: 155px;
        }
      }
    }
    &_contact {
      order: 3;
      display: flex;
      flex-direction: row;
      gap: 19px;
      a {
        //styleName: Headline/06;
        font-family: $font-primary;
        font-size: $body-text-size;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.30000001192092896px;
        text-align: left;
        color: $black;
      }
      .social_icon {
        display: flex;
        flex-direction: row;
        gap: 20px;
        img {
          width: 24px;
          height: 20px;
        }
      }
    }
  }
  &-separator {
    margin: auto;
    margin-bottom: 32px;
    margin-top: 48px;
    width: 345px;
    height: 1px;
    background-color: $color-light;
    @include mobile-lg {
      width: 45.135em;
      margin-top: 0px;
      margin-bottom: 32px;
    }
  }
  &-bottom {
    .copyright_text {
      position: relative;
      margin: auto;
      font-family: $font-primary;
      font-size: $body-text-size;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.30000001192092896px;
      color: $color-muted;
      @include mobile-lg {
        left: 0;
        width: 21.875em;
        height: 1.5em;
      }
      @include large-desktops {
        left: 0;
      }
    }
  }
}

// footer 2
.footer_section-f2 {
  @extend .footer_section;
  height: 224px;
  flex-direction: column;
  @include mobile-lg {
    justify-content: center;
    gap: 58px;
    padding-top: 80px;
    flex-direction: row;
    height: 186px;
  }
  @include large-desktops {
    justify-content: center;
    gap: 195px;
  }
  .social_icon-f2 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 40px;
    @include large-desktops {
      gap: 40px;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
  .item {
    a {
      @include large-desktops {
        font-size: $h6 !important;
      }
    }
  }
  .copyright_text-f2 {
    order: 3;
    font-family: $font-primary;
    font-size: $body-text-size;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.35555556416511536px;
    text-align: left;
    color: $black;
    @include large-desktops {
      font-size: $h6;
    }
  }
}

// footer 3
.footer_section-f3 {
  @extend .footer_section;
  padding-left: 20px;
  width: 375px;
  height: 620px;
  @include mobile-lg {
    width: 63em;
    height: 37.8125em;
    padding-top: 64px;
    // padding-left: 140px;
  }
  @include large-desktops {
    width: 90em;
    height: 427px;
  }
  .footer_section-head {
    display: flex;
    flex-direction: column;
    gap: 0px;
    @include mobile-lg {
      flex-direction: row;
      gap: 138px;
      margin: auto 100px;
      width: 54em;
    }
    @include large-desktops {
      flex-direction: row;
      margin: 0 auto;
      width: 975px;
      gap: 145px;
    }
    &_title-f3 {
      order: 2;
      .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-inline-start: 0px;
        gap: 32px;
        @include large-desktops {
          flex-wrap: nowrap;
        }
        .items {
          width: 158px;
          font-family: $font-primary;
          font-size: $h6;
          font-style: normal;
          font-weight: 700;
          line-height: 26px;
          letter-spacing: -0.35555556416511536px;
          text-align: left;
          color: $black;
          padding-inline-start: 0px;
          .sub-items {
            a {
              width: 158px !important;
              font-family: $font-primary;
              font-size: $body-text-size;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: -0.30000001192092896px;
              color: #594d6d;
            }
          }
        }
      }
    }
  }
  .footer_section-separator-f3 {
    @extend .footer_section-separator;
    width: 345px;
    @include mobile-lg {
      margin: auto 29px;
      width: 700px;
    }
    @include large-desktops {
      margin-left: 60px;
      margin-top: 80px;
      margin-bottom: 40px;
      width: 1110px;
    }
  }
  .footer_section-bottom-f3 {
    @extend .footer_section-bottom;
    display: flex;
    flex-direction: column;
    gap: 26px;
    @include mobile-lg {
      flex-direction: row;
      gap: 30%;
      margin-bottom: 40px;
    }
    @include large-desktops {
      margin: 0 auto;
      flex-direction: row;
      width: 1110px;
      gap: 624px;
    }
    .social_icon-f3 {
      order: 2;
      display: flex;
      flex-direction: row;
      width: 24px;
      height: 20px;
      gap: 32px;
      @include large-desktops {
      }
    }
    .copyright_text-f3 {
      @extend .copyright_text;
      margin: 0;
    }
  }
}

// footer-4
.footer_section-f4 {
  @extend .footer_section-f2;
  width: 375px;
  height: 295px;
  @include mobile-lg {
    width: 100%;
    height: 152px;
    padding-top: 60px;
  }
  @include desktops {
    width: 90em;
  }
  .footer__logo {
    background-image: url("/image/svg/navigations/Logo.svg");
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    margin-bottom: 43px;
    @include mobile-lg {
      background-image: url("/image/svg/navigations/Logo-mobile.svg");
      width: 40px;
    }
  }
  .footer_section-head_title {
    margin-bottom: 33px;
    .list {
      flex-wrap: wrap;
      row-gap: 8px;
      @include desktops {
        gap: 40px;
      }
      .item {
        a {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
  .social_icon-f4 {
    @extend .social_icon-f2;
    order: 3;
  }
}

// footer-5
.footer-5 {
  width: 375px;
  height: 717px;
  margin: auto;
  padding-left: 10px;
  margin-bottom: 100px;
  @include mobile-lg {
    width: 1024px;
    height: 581px;
  }
  @include desktops {
    width: 1260px;
    height: 451px;
  }
}
.head_f5 {
  @include desktops {
    margin: auto 89px !important;
    width: 1110px !important;
  }
}
.list_f5 {
  gap: 30px !important;
}
.item-f5 {
  display: flex;
  width: 192px !important;
  flex-direction: column;
  gap: 12px;
  @include desktops {
    width: 400px !important;
  }
  .subscribe_section {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @include desktops {
      flex-direction: row;
      gap: 25px;
    }
    .email_input {
      display: flex;
      width: 345px;
      height: 56px;
      border-radius: 28px;
      background-color: #e7e5ea;
      flex-direction: row;
      padding-top: 15px;
      padding-left: 24px;
      gap: 24px;
      @include desktops {
        width: 255px;
        height: 56px;
      }
      .email-icon {
        background-image: url("/image/svg/Footers/icon.svg");
        width: 24px;
        height: 24px;
      }
      p {
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.36000001430511475px;
        text-align: left;
        color: #12022f;
        opacity: 0.5;
      }
    }
    .subscribe_btn {
      .btn-sub {
        width: 345px;
        height: 56px;
        border-radius: 28px;
        background-color: #ffdda9;
        @include desktops {
          width: 160px;
        }
      }
    }
  }
  .follow_section {
    display: flex;
    flex-direction: row;
    gap: 41px;
    padding-top: 34px;
    .social_icon-f5 {
      display: flex;
      flex-direction: row;
      gap: 24px;
      .facebook,
      .twitter {
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    .follow {
      p {
        width: 65px;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.30000001192092896px;
        text-align: left;
      }
    }
  }
}
.footer_section-separator-f5 {
  margin: auto;
  width: 345px;
  height: 1px;
  background-color: #e7e5ea;
  margin-top: 48px;
  @include mobile-lg {
    margin: auto 89px;
    width: 690px;
  }
  @include desktops {
    width: 1110px;
  }
}
.footer_section-bottom-f5 {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
  @include mobile-lg {
    width: 844px;
    flex-direction: row;
    gap: 120px;
  }
  @include desktops {
    margin-top: 12px;
    margin-left: 89px;
    padding-top: 0;
    width: 1110px;
    gap: 400px;
  }
  .terms_condition {
    display: flex;
    flex-direction: row;
    gap: 19px;
    p {
      font-family: DM Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.30000001192092896px;
      text-align: left;
      color: $black;
    }
  }
}

// footer 6
.footer-6 {
  height: 505px;
  padding-left: 10px;
  @include mobile-lg {
    height: 361px;
  }
  .footer_section-head-f6 {
    @extend .footer_section-head;
    @include mobile-lg {
      width: 45em;
    }
    @include desktops {
      width: 90em;
      gap: 500px;
    }
  }
}
.footer_section-bottom-f6 {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  @include mobile-lg {
    flex-direction: row;
    gap: 162px;
    margin-left: 45px;
  }
  @include desktops {
    gap: 582px;
  }
  .menu {
    .list {
      display: flex;
      flex-direction: row;
      gap: 20px;
      flex-wrap: wrap;
      padding-inline-start: 0px;
      .item {
        a {
          font-family: DM Sans;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: -0.30000001192092896px;
          text-align: left;
        }
      }
    }
  }
}
.footer_section-separator-f6 {
  @extend .footer_section-separator-f5;
  @include mobile-lg {
    margin: auto 45px;
  }
}
.social_icons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  .twitter,
  .facebook {
    img {
      width: 24px;
      height: 24px;
    }
  }
}

// footer 7
.footer_section-f7 {
  margin: auto;
  width: 375px;
  height: 224px;
  background-color: #fff;
  padding-left: 15px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  @include mobile-lg {
    padding-left: 50px;
    padding-top: 12px;
    width: 1024px;
    height: 152px;
    flex-direction: row;
    gap: 120px;
  }
  @include desktops {
    width: 90em;
    gap: 282px;
  }
}
.footer-logo {
  order: 1;
  background-image: url("/image/svg/navigations/Logo.svg");
  background-repeat: no-repeat;
  width: 114px;
  height: 32px;
  margin-bottom: 40px;
  @include mobile-lg {
    order: 2;
    background-image: url("/image/svg/navigations/Logo-mobile.svg");
    width: 33px;
    height: 33px;
    align-self: center;
    margin-top: 32px;
  }
}
.footer_head-left {
  order: 2;
  @include mobile-lg {
    order: 1;
    align-self: center;
  }
}
.footer_head-right {
  order: 3;
  @include mobile-lg {
    align-self: center;
  }
}
.list-f7 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-inline-start: 0px;
  a {
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    &:hover {
      color: $black;
    }
  }
}

// footer 8
.footer_section-f8 {
  @extend .footer_section-f7;
  background-color: $color-dark;
  @include mobile-lg {
    gap: 80px;
    height: 120px;
  }
  @include desktops {
    gap: 182px;
  }
}
.footer_logo-f8 {
  background-image: url("/image/svg/navigations/light-logo.svg");
  background-repeat: no-repeat;
  width: 119px;
  height: 24px;
  @include mobile-lg {
    align-self: center;
  }
}
.menu_list {
  margin-top: 40px;
}
.list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-inline-start: 0px;
  a {
    color: $white;
  }
}
li {
  list-style: none;
}
.contact_list {
  @include mobile-lg {
    align-self: center;
  }
  @include desktops {
    margin-left: 104px;
  }
}

// footer 9
.footer_section-f9 {
  @extend .footer_section-f8;
  padding-left: 0;
  padding-top: 48px;
  height: 863px;
}
.footer-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  @include mobile-lg {
    flex-direction: row;
    padding-left: 119px;
    gap: 0px;
    flex-wrap: nowrap;
  }
}
.subscribe-section {
  width: 345px;
  padding-left: 10px;
  @include mobile-lg {
    width: 240px;
  }
}
.input_text {
  width: 345px;
  height: 56px;
  margin-top: 32px;
  padding-top: 15px;
  padding-left: 22px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  border-radius: 28px;
  background: #ffffff18;
  @include mobile-lg {
    width: 240px;
  }
}
.btn-subscribe {
  width: 345px;
  height: 56px;
  border-radius: 28px;
  background-color: #ffdda9;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.36000001430511475px;
  text-align: center;
  margin-top: 16px;
  @include mobile-lg {
    width: 240px;
  }
}
.input_logo {
  background-image: url("/image/svg/Footers/icon-dark.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
p {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36000001430511475px;
  text-align: left;
  color: $white;
}
.title-f9 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.35555556416511536px;
  text-align: left;
  color: $white;
}
.list-f9 {
  display: flex;
  flex-direction: column;
  width: 158px;
  padding-inline-start: 10px;
  gap: 16px;
  @include mobile-lg {
    width: 150px;
  }
}
.item {
  a {
    color: #594d6d;
  }
}
.footer_seprator {
  margin: auto;
  width: 345px;
  height: 1px;
  background: #ffffff4f;
}
.footer_bottom {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.copyright_section {
  margin-left: 8px;
}
.policy-section {
  display: flex;
  flex-direction: row;
  padding-inline-start: 10px;
  gap: 19px;
  a {
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    color: $white;
  }
}

// footer 10
.footer_section-f10 {
  margin: auto;
  width: 375px;
  height: 700px;
  background: #391484;
  padding-top: 51px;
  padding-left: 15px;
  margin-bottom: 100px;
  @include mobile-lg{
    width: 823px;
    height: 637px;
    padding-top: 67px;
  }
  @include desktops{
    width: 90em;
    height: 467px;
  }
  .footer_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 43px;
    @include mobile-lg{
      padding-left: 165px;
      flex-direction: row;
      gap: 140px;
    }
    .footer_logo-f10 {
      background-image: url("/image/svg/navigations/light-logo.svg");
      background-repeat: no-repeat;
      width: 114px;
      height: 25px;
      align-self: flex-start;
      @include mobile-lg{
        width: 178px;
      }

    }
    .footer_menu-f10 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 32px;
      @include mobile-lg{
      }
      p {
        margin-bottom: 16px;
      }
      .list {
        display: flex;
        width: 158px;
        flex-direction: column;
      }
      .social_icons {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }
    }
  }
  .footer_seprator-f10 {
    margin: auto;
    margin-top: 48px;
    margin-right: 15px;
    margin-bottom: 32px;
    width: 345px;
    height: 1px;
    text-align: center;
    background: #ffffff86;
    @include mobile-lg{
      width: 690px;
      margin-right: 10%;
    }
    @include desktops{
      width: 1110px;
      margin-right: 5%;
      margin-bottom: 48px;
    }
  }
  .footer_copyright-f10 {
    margin: auto;
    width: 345px;
    text-align: center;
    @include mobile-lg{
      width: 450px;
    }
  }
}
