.header__container {
  margin: auto;
  background-color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 375px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  @include tablet {
    width: 64em;
    height: 6.25em;
    padding-left: 100px;
    padding-right: 150px;
    gap: 20px;
  }
  @include large-desktops {
    width: 90em;
    height: 6.25em;
    padding-left: 165px;
    padding-right: 165px;
  }

  .header__visit-tour {
    align-self: center;
    .visit-tour-btn {
      width: 101px;
      height: 48px;
      border-radius: 28px;
      background-color: $white;
      border: 2px solid #e7e5ea;
      @include large-desktops {
        width: 117px;
        height: 56px;
      }
    }
  }
  .header__logo-nav-7 {
    position: relative;
    left: -10px;
    background-image: url("/image/svg/navigations/Logo-mobile.svg");
    width: 32px;
    height: 32px;
    align-self: center;
    background-repeat: no-repeat;
    @include tablet {
      background-image: url("/image/svg/navigations/logo.svg");
      left: 15px;
      top: 5px;
      width: 120px;
      height: 30px;
    }
  }
  .header__logo-nav-8 {
    @extend .header__logo-nav-7;
    left: 26px;
    @include tablet {
      left: 0px;
    }
  }
  .header__logo-nav-dark {
    @extend .header__logo-nav-7;
    left: -36px;
    background-image: url("/image/svg/header/Navigations/mobile-dark-logo.svg");
    @include large-desktops {
      background-image: url("/image/svg/navigations/light-logo.svg");
    }
    &14 {
      @extend .header__logo-nav-dark;
      left: -75px;
    }
    &15 {
      @extend .header__logo-nav-dark;
      left: -8%;
      @include large-desktops {
        left: -32%;
      }
    }
    &16 {
      @extend .header__logo-nav-dark;
      left: -0.5%;
    }
  }

  .header__logo {
    align-self: center;
    img {
      position: relative;
      left: -25px;
      @include mobile-lg {
        left: 0;
      }
      @include large-desktops {
        left: 0;
      }
    }
    &17 {
      @extend .header__logo;
      img {
        left: 2px;
      }
    }
    &21 {
      @extend .header__logo;
      img {
        display: none;
        @include mobile-lg {
          display: block;
        }
      }
    }
  }
  .center-logo {
    @include desktops {
      position: relative;
      left: 110px;
    }
  }
  .header__list {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 20px;
    ul {
      display: none;
      @include mobile-lg {
        display: flex;
        align-self: center;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        gap: 20px;
        @include large-desktops {
          gap: 40px;
        }
      }
      li {
        a {
          font-family: $font-primary;
          color: $black;
          font-weight: 700;
          font-size: $body-text-size;
          line-height: 24px;
          letter-spacing: -0.36px;
          @include tablet {
            font-size: $body-text-size;
            line-height: 24px;
          }
          @include large-desktops {
            font-size: $h6;
            line-height: 26px;
          }
        }

        .dropdown-toggle {
          padding-top: 0;
          padding-right: 0;
          &::after {
            margin-left: 1.255em;
          }
        }
      }
    }
    .button-list {
      align-self: flex-start;
      .light-border-button {
        width: 117px;
        height: 56px;
        margin-bottom: 12px;
        color: $white;
        background-color: $color-dark;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 28px;
        &17 {
          @extend .light-border-button;
          display: none;
          @include large-desktops {
            display: block;
          }
        }
        &18 {
          @extend .light-border-button;
          width: 89px;
          height: 48px;
          border: none;
          @include large-desktops {
            display: none;
          }
          &:hover {
            border: 2px solid rgba(255, 255, 255, 0.1);
          }
        }
      }
      .light-search-button {
        img {
          margin-right: 19px;
        }
        width: 136px;
        height: 56px;
        margin-bottom: 12px;
        color: $white;
        background-color: $color-dark;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 28px;
        &18 {
          @extend .light-search-button;
          display: none;
          @include large-desktops {
            display: block;
          }
        }
      }
      .light-clr-btn {
        width: 105px;
        height: 48px;
        border: none;
        margin-bottom: 16px;
        border-radius: 28px;
        background-color: $color-primary;
        @include large-desktops {
          width: 122px;
          height: 56px;
          margin-bottom: 12px;
        }
      }
    }
  }
  .header__buttons {
    align-self: center;
    display: flex;
    .light-button {
      position: relative;
      width: 89px;
      height: 48px;
      border-radius: 24px;
      left: -15px;
      background-color: $color-primary;
      @include mobile-lg {
        background-color: $white;
        left: 0;
      }
      @include large-desktops {
        color: $black;
        width: 104px;
        height: 56px;
        background-color: $white;
        left: 0;
      }
      &:hover {
        @include mobile-lg {
          border-radius: 28px;
          background-color: $color-primary;
        }
      }
      &:nth-child(1) {
        display: none;
        @include mobile-lg {
          display: block;
        }
      }
    }
    .dark-button {
      width: 83px;
      height: 48px;
      gap: 20px;
      color: $white;
      border-radius: 28px;
      background-color: $color-dark;
      border: 2px solid rgba(255, 255, 255, 0.1);
      @include large-desktops {
        width: 96px;
        height: 56px;
        gap: 20px;
      }
      &:hover {
        width: 89px;
        height: 48px;
        color: $black;
        border: 2px solid $color-primary;
        background-color: $color-primary;
        @include large-desktops {
          width: 104px;
          height: 56px;
        }
      }
    }
    .no-border-dark-button {
      @extend .dark-button;
      border: none;
      &:nth-child(1) {
        display: none;
        @include mobile-lg {
          display: block;
        }
      }
      &:nth-child(2) {
        display: none;
        @include mobile-lg {
          display: block;
        }
      }
      &:nth-child(3) {
        display: none;
        @include mobile-lg {
          display: block;
        }
      }
      &:nth-child(4) {
        display: block;
        @include mobile-lg {
          display: none;
        }
      }
    }
    .border-button {
      position: relative;
      color: $black;
      width: 89px;
      height: 48px;
      border-radius: 28px;
      border: 2px solid #e7e5ea56;
      background-color: $white;
      left: -15px;
      @include tablet {
        width: 89px;
        height: 48px;
        border: none;
        background-color: $white;
        left: 0;
      }
      @include large-desktops {
        width: 104px;
        height: 56px;
        border: none;
        background-color: $white;
        left: 0;
      }
      &:nth-child(1) {
        display: none;
        @include mobile-lg {
          width: 42px;
          height: 48px;
          display: block;
        }
        @include large-desktops {
          width: 104px;
          height: 56px;
        }
      }
      &:nth-child(2) {
        display: none;
        @include mobile-lg {
          width: 42px;
          height: 48px;
          display: block;
        }
        @include large-desktops {
          width: 104px;
          height: 56px;
        }
      }
      &:hover {
        @include tablet {
          width: 89px;
          border-radius: 28px;
          border: 2px solid #e7e5ea56;
        }
        @include large-desktops {
          width: 104px;
          height: 56px;
        }
      }
    }
    .light-border-button {
      width: 89px;
      height: 48px;
      color: $white;
      color: $white;
      border-radius: 28px;
      background-color: $color-dark;
      @include large-desktops {
        width: 96px;
        height: 56px;
      }
      &:hover {
        border: 2px solid rgba(255, 255, 255, 0.1);
        background-color: $color-dark;
      }
      &15 {
        @extend .light-border-button;
        @include mobile-lg {
          display: none;
        }
      }
    }
    .try-button {
      width: 126px;
      height: 56px;
      border-radius: 28px;
      background-color: $color-primary;
      &-nav-14 {
        @extend .try-button;
        display: block;
        @include mobile-lg {
          display: none;
        }
      }
      &__nav-16 {
        display: none;
        @include mobile-lg {
          @extend .try-button;
          display: block;
        }
      }
    }
    .search-icon {
      width: 48px;
      height: 48px;
      border-radius: 28px;
      border: 1px solid #e7e5ea;
      img {
        position: relative;
        left: 12px;
        top: 12px;
        width: 20px;
        height: 20px;
        @include tablet {
          display: none;
        }
      }
      @include tablet {
        display: none;
      }
    }
    .search-button {
      width: 112px;
      height: 48px;
      background-color: $white;
      border-radius: 28px;
      border: 2px solid #e7e5ea;
      @include large-desktops {
        width: 136px;
        height: 56px;
      }
      &__dark {
        display: none;
        @include large-desktops {
          @extend .search-button;
          display: block;
          background-color: $color-dark;
          color: $white;
        }
      }
    }
    &_mobile-view {
      @extend .header__buttons;
      @include large-desktops {
        display: none;
      }
    }
  }
  .header__icons {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
    @include large-desktops {
      gap: 32px;
    }
    img {
      width: 16px;
      height: 13.33px;
      @include large-desktops {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.dark-theme {
  background-color: $color-dark;
}
.light-text {
  li {
    a {
      color: $white !important;
    }
  }
}

.circle-hamburger {
  display: block;
  align-self: center;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: 1px solid #e7e5ea;
  padding: 8px;
  @include mobile-lg {
    display: none;
  }
  &17 {
    @extend .circle-hamburger;
    order: 2;
  }
}
.desktop-view {
  @include large-desktops {
    display: block;
  }
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $color-dark;
  &-light {
    background-color: $white;
  }
  &:nth-child(1) {
    position: relative;
    width: 5.33px;
    height: 1.33px;
    left: -4px;
  }
  &:nth-child(2) {
    width: 10.67px;
    height: 1.33px;
  }
  &:nth-child(3) {
    position: relative;
    width: 5.33px;
    height: 1.33px;
    left: 4px;
  }
}

// navigation 4
.header__buttons {
  .nav-4 {
    @include tablet {
      width: 89px !important;
      height: 48px;
    }
    @include large-desktops {
      width: 104px !important;
      height: 56px;
    }
    &:nth-child(2) {
      display: block !important;
    }
  }
}
.nav-hamburger-4 {
  border: none !important;
  padding: 14px !important;
  .bar:nth-child(1) {
    width: 8px;
    height: 2px;
    opacity: 0.4;
  }
  .bar:nth-child(2) {
    width: 16px;
    height: 2px;
  }
  .bar:nth-child(3) {
    width: 8px;
    height: 2px;
    opacity: 0.4;
  }
}

// navigation 5
.nav-hamburger-5 {
  @extend .nav-hamburger-4;
  position: relative;
  right: -300px;
}
.nav-5_logo {
  img {
    left: -140px !important;
    @include tablet {
      left: 0 !important;
    }
  }
}

// navigation 9
.nav-9 {
  @include desktops {
    padding-top: 37px;
    padding-bottom: 34px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 150px;
  }
}

// navigation11
.mobile__search-btn {
  width: 48px;
  height: 48px;
  border-radius: 28px;
  background-color: $color-dark;
  border: 2px solid #e7e5ea63;
  img {
    background-color: $color-dark;
  }
  @include large-desktops {
    display: none;
  }
}

// navigation 12
.nav-12 {
  @extend .nav-9;
  @include large-desktops {
    height: 167px;
  }
}

// navigation 13
.dark-search__btn {
  width: 112px;
  height: 48px;
  color: $white;
  border-radius: 28px;
  background-color: $color-dark;
  border: 1px solid rgba(255, 255, 255, 0.274);
  &16 {
    @extend .dark-search__btn;
    border: none;
    @include mobile-lg {
      display: none;
    }
    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.274);
    }
  }
}

// navigation2
.nav2 {
  @include mobile-lg {
    position: relative;
    left: -52px;
  }
  @include large-desktops {
    left: -4px;
  }
}
// navaigation3
.nav3 {
  @include mobile-lg {
    position: relative;
    left: -35px;
  }
}
// navigation8
.nav_btn-8 {
  @include tablet {
    width: 65px !important;
  }
  @include large-desktops {
    width: 104px !important;
  }
}

// navigation18
.logo18 {
  @include large-desktops {
    left: 0 !important;
  }
}
// navigation 21
.nav-21 {
  display: flex;
  gap: 20px;
}
