// navigation-1
.header__container {
  margin: auto;
  background-color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 375px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  @include mobile-lg {
    width: 868px;
  }
  @include tablet {
    width: 900px;
    height: 100px;
    padding-left: 100px;
    padding-right: 150px;
    gap: 0px;
  }
  @include large-desktops {
    width: 1440px;
    height: 100px;
    padding-left: 165px;
    padding-right: 165px;
  }

  .header__logo {
    align-self: center;
    img {
      position: relative;
      left: -25px;
      @include mobile-lg {
        left: 0;
      }
      @include large-desktops {
        left: 0;
      }
    }
  }
  .header__list {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 20px;
    ul {
      display: none;
      @include mobile-lg {
        display: flex;
        align-self: center;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        gap: 20px;
        @include large-desktops {
          gap: 40px;
        }
      }
      li {
        a {
          font-family: $font-primary;
          color: $black;
          font-weight: 700;
          font-size: $body-text-size;
          line-height: 24px;
          letter-spacing: -0.36px;
          @include large-desktops {
            font-size: $h6;
            line-height: 26px;
          }
        }
        .dropdown-toggle {
          padding-top: 0;
          padding-right: 0;
          &::after {
            margin-left: 1.255em;
          }
        }
      }
    }
    .button-list {
      align-self: flex-start;
      .light-border-button {
        width: 117px;
        height: 56px;
        margin-bottom: 12px;
        color: $white;
        background-color: $color-dark;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 28px;
      }
      .light-search-button {
        img {
          margin-right: 19px;
        }
        width: 136px;
        height: 56px;
        margin-bottom: 12px;
        color: $white;
        background-color: $color-dark;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 28px;
      }
      .light-clr-btn {
        width: 105px;
        height: 48px;
        border: none;
        margin-bottom: 16px;
        border-radius: 28px;
        background-color: $color-primary;
        @include large-desktops{
          width: 122px;
          height: 56px;
          margin-bottom: 12px;
        }
      }
    }
  }
  .header__buttons {
    align-self: center;
    display: flex;
    gap: 30px;
    @include mobile-lg {
      gap: 20px;
    }
    .light-button {
      position: relative;
      width: 89px;
      height: 48px;
      border-radius: 24px;
      left: -15px;
      background-color: $color-primary;
      @include mobile-lg {
        background-color: $white;
        left: 0;
      }
      @include large-desktops {
        color: $black;
        width: 104px;
        height: 56px;
        background-color: $white;
        left: 0;
      }
      &:hover {
        @include mobile-lg {
          border-radius: 28px;
          background-color: $color-primary;
        }
      }
      &:nth-child(1) {
        display: none;
        @include mobile-lg {
          display: block;
        }
      }
    }
    .dark-button {
      width: 96px;
      height: 56px;
      color: $white;
      border-radius: 28px;
      background-color: $color-dark;
      border: 2px solid rgba(255, 255, 255, 0.1);
      &:hover {
        width: 104px;
        height: 56px;
        color: $black;
        border: 2px solid $color-primary;
        background-color: $color-primary;
      }
    }
    .border-button {
      position: relative;
      color: $black;
      width: 89px;
      height: 48px;
      border-radius: 28px;
      border: 2px solid #e7e5ea56;
      background-color: $white;
      left: -15px;
      @include large-desktops {
        width: 104px;
        height: 56px;
        border: none;
        background-color: $white;
        left: 0;
      }
      &:nth-child(1) {
        display: none;
        @include mobile-lg {
          display: block;
        }
      }
      &:nth-child(2) {
        display: none;
        @include mobile-lg {
          display: block;
        }
      }
      &:hover {
        @include large-desktops {
          border-radius: 28px;
          border: 2px solid #e7e5ea56;
        }
      }
    }
    .light-border-button {
      color: $white;
      width: 96px;
      height: 56px;
      color: $white;
      border-radius: 28px;
      background-color: $color-dark;
      &:hover {
        border: 2px solid rgba(255, 255, 255, 0.1);
        background-color: $color-dark;
      }
    }
    .try-button {
      width: 126px;
      height: 56px;
      border-radius: 28px;
      background-color: $color-primary;
    }
  }
  .header__icons {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
    @include large-desktops {
      gap: 32px;
    }
    img {
      width: 16px;
      height: 13.33px;
      @include large-desktops {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.dark-theme {
  background-color: $color-dark;
}
.light-text {
  li {
    a {
      color: $white !important;
    }
  }
}

.circle-hamburger {
  display: block;
  align-self: center;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: 1px solid #e7e5ea;
  padding: 8px;
  @include mobile-lg {
    display: none;
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $color-dark;
  &:nth-child(1) {
    position: relative;
    width: 5.33px;
    height: 1.33px;
    left: -4px;
  }
  &:nth-child(2) {
    width: 10.67px;
    height: 1.33px;
  }
  &:nth-child(3) {
    position: relative;
    width: 5.33px;
    height: 1.33px;
    left: 4px;
  }
}

// navigation 4
.header__buttons {
  .nav-4:nth-child(2) {
    display: block !important;
  }
}
.nav-hamburger-4 {
  border: none !important;
  padding: 14px !important;
  .bar:nth-child(1) {
    width: 8px;
    height: 2px;
    opacity: 0.4;
  }
  .bar:nth-child(2) {
    width: 16px;
    height: 2px;
  }
  .bar:nth-child(3) {
    width: 8px;
    height: 2px;
    opacity: 0.4;
  }
}

// navigation 5
.nav-hamburger-5 {
  @extend .nav-hamburger-4;
  position: relative;
  right: -300px;
}
.nav-5_logo {
  img {
    left: -140px !important;
    @include large-desktops {
      left: 0px !important;
    }
  }
}

// navigation 6
 
